@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #fa4b0c;
  --primary-color-dark: #e0430a;
  --text-dark: #333333;
  --text-light: #767268;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-dark);
  line-height: 3.5rem;
}

.btn {
  padding: 1rem 2.5rem;
  outline: none;
  border: none;
  font-size: 1.1rem;
  color: var(--white);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.btn__primary {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btn__primary:hover {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}

.btn__secondary {
  background-color: transparent;
  border: 2px solid var(--white);
}

.btn__secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo img {
  max-width: 175px;
}

.logo-dark {
  display: none;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-size: 1.1rem;
  font-weight: 500;
  white-space: nowrap;
  color: var(--white);
  transition: 0.3s;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/header-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header__container {
  max-width: 900px;
  padding-block: 8rem 10rem;
  text-align: center;
}

.header__container h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.header__container h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
}

.header__container p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--white);
}

.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__image img {
  max-width: 500px;
  margin-inline: auto;
  transform: translateY(-8rem);
}

.app__container {
  padding-top: 0;
}

.app__container .section__header {
  margin-bottom: 4rem;
  text-align: center;
}

.app__grid {
  max-width: 1024px;
  margin-inline: auto;
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.app__image img {
  max-width: 275px;
  margin-inline: auto;
  filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.1));
}

.app__card {
  text-align: center;
}

.app__card h5 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.app__card h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  line-height: 2.75rem;
}

.app__card p {
  color: var(--text-light);
  line-height: 1.75rem;
}

.download {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/download.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.download__container {
  text-align: center;
}

.download__container .section__header {
  margin-bottom: 1rem;
  color: var(--white);
}

.download__container p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--white);
}

.download__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__container .footer__logo {
  margin-bottom: 1rem;
  text-align: center;
}

.footer__logo img {
  max-width: 250px;
  margin-inline: auto;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 2rem;
  color: var(--primary-color);
}

.footer__socials a:hover {
  color: var(--primary-color-dark);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo img {
    max-width: 250px;
  }

  .logo-white {
    display: none;
  }

  .logo-dark {
    display: flex;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .header__container {
    padding-top: 5rem;
  }

  .app__grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .app__card {
    text-align: left;
  }

  .app__card:nth-child(4) {
    grid-area: 2/1/3/2;
  }
}
